@page "/books/delete/{Id:int}"
@using Blazored.Toast.Services

@inject IBookRepository Repo
@inject NavigationManager NavManager
@inject IToastService ToastService

<h3>Удалить книгу</h3>

@if (!_isSuccessful)
{
    <ErrorMessage Message="Что-то пошло не так" />
}

@if (Id < 1 || string.IsNullOrWhiteSpace(_model.Title))
{
    <ErrorMessage Message="Попробуйте снова" />
}
else if (_model == null)
{
    <LoadingPrompt Message="Загрузка данных по книге" />
}
else
{
    <div class="col-md-4">
        <table class="table table-responsive">
            <tr>
                <td>Название</td>
                <td>@_model.Title</td>
            </tr>
            <tr>
                <td>Год</td>
                <td>@_model.Year</td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td>@_model.Isbn</td>
            </tr>
            <tr>
                @if (_model.Author == null)
                {
                    <td class="alert alert-dismissible alert-secondary">
                        Нет авторов для данной книги
                    </td>
                }
                else
                {
                    <td>Автор</td>
                    <td>@_model.Author.FirstName @_model.Author.LastName</td>
                }
                </tr> 
        </table>
    </div>
}
<br/>

<button @onclick="DeleteBook" class="btn btn-danger">
    <span class="oi oi-delete"></span>
    Удалить книгу
</button>

<button @onclick="BackToList" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Вернуться к списку
</button>

@code {
    [Parameter]
    public int Id { get; set; }
    
    private Book _model = new Book();

    private bool _isSuccessful = true;

    protected override async Task OnInitializedAsync()
    {
        _model = await Repo.GetSingle(Endpoints.BooksEndpoint, Id);
    }

    private async Task DeleteBook()
    {
        _isSuccessful = await Repo.Delete(Endpoints.BooksEndpoint, _model.Id);
        if (_isSuccessful)
        {
            ToastService.ShowSuccess($"Запись с книгой успешно удалена: Id:{_model.Id} Название:{_model.Title}");
            BackToList();
        }
        else
        {
            ToastService.ShowError("Случилась ошибка!");
        }
    }
    
    private void BackToList()
    {
        NavManager.NavigateTo("/books/");
    }
}